# Port number for the Express server
PORT=5000

# MongoDB Connection String (Local or MongoDB Atlas)
MONGO_URI=mongodb://localhost:27017/leadflow

# Environment execution mode (development / production)
NODE_ENV=development
